{% extends "skeleton.html" %}
{% block content %}

<style>
.jumbotron {
     position: relative;
     padding: 20px;
     padding-left: 0;
     padding-right: 0;
     margin-bottom: 20px;
     font-size: 15px;
     line-height: 1.2;
 }
</style>

<div class="container">
  <div class="jumbotron">
    <div class="row">
    
      <div class="col-md-6">
      
        <h2>Current address</h2>
        <address>
          <strong>Harvard-Smithsonian Centre for Astrophysics</strong><br>
          60 Garden Street<br>
          Cambridge, MA<br>
          02138, U.S.A.<br>
          <a href="mailto:#">jonathan.elliott@cfa.harvard.edu</a><br>
          <abbr title="Phone">P:</abbr> +1-(617)495-7164
        </address>   

        <h2>Online</h2>
        <a href="https://www.linkedin.com/profile/view?id=362155299&trk=spm_pic" target="_blank">@LinkedIn</a><br>
        <a href="http://stackoverflow.com/users/3715463/jonnybazookatone" target="_blank">@stackoverflow</a>
      </div>



      <div class="col-md-6">
        <div id="content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.1735545935894!2d-71.13030194941463!3d42.38144914164177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3776c91270337%3A0x40511afb8217c165!2s60+Garden+St%2C+Cambridge%2C+MA+02138%2C+USA!5e0!3m2!1sen!2suk!4v1457579178239" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

    </div><!-- end row -->
  </div> <!-- end jumbotron -->
</div> <!-- end container -->

{% endblock %}

