{% extends "skeleton.html" %}
{% block content %}

<style>
.jumbotron {
     position: relative;
     padding: 20px;
     padding-left: 0;
     padding-right: 0;
     margin-bottom: 20px;
     font-size: 15px;
     line-height: 1.2;
 }
</style>

<div class="container">
  <div class="jumbotron">
    <div class="row">
    
      <div class="col-md-6">
      
        <h2>Current address</h2>
        <address>
          <strong>Hulu LLC</strong><br>
          Building B, F22, Posco Center<br>
          No. 13 Building Wanjing East Park, 4th Block<br>
          Chaoyang District, Beijing<br>
          100120, China<br><br>
          <a href="mailto:#">jonathan.elliott@hulu.com</a><br>
        </address>   

        <h2>Online</h2>
        <a href="https://www.linkedin.com/profile/view?id=362155299&trk=spm_pic" target="_blank">@LinkedIn</a><br>
        <a href="http://stackoverflow.com/users/3715463/jonnybazookatone" target="_blank">@stackoverflow</a>
      </div>

      <div class="col-md-6">
        <div id="content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.413423269585!2d116.48683901537193!3d39.99921202941593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f1aa40923c3681%3A0xd2e243f43842132c!2sPuxiang+Center%2C+WangJing%2C+Chaoyang+Qu%2C+Beijing+Shi%2C+China%2C+100096!5e0!3m2!1sen!2suk!4v1506151766431" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

    </div><!-- end row -->
  </div> <!-- end jumbotron -->
</div> <!-- end container -->

{% endblock %}

