{% extends "skeleton.html" %}
{% block content %}
<style>
  .panel {font-size: 18px;}
  .panel-default {font-size: 18px;}
  .panel-heading {font-size: 22px;}
  .panel-body {font-size: 18px;}

</style>

<div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Curriculum Vitae / Resume
        <a href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aSk9DNVNiRlNkNzg" target="_blank" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
        </h1>
      </div>
    </div> <!-- end row -->

    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-default">
  
          <div class="panel-heading">Current &amp; Past Employment</div>
          <table class="table">
            <thead>
              <tr>
                <th>Position</th>
                <th>placement at</th>
                <th>in the year</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Data Scientist</td>
                <td>Hulu</td>
                <td>Oct 2016 &mdash; Present</td>
              </tr>
              <tr>
                <td>Software Engineer (Full-stack developer/IT Specialist)</td>
                <td>Astrophysics Data Systems (NASA/Harvard-Smithsonian)</td>
                <td>2015 &mdash; Jul 2016</td>
              </tr>
              <tr>
                <td>Post-doctoral Research Fellow</td>
                <td>Max-Planck-Institut f&uuml;r extraterrestrische Physik</td>
                <td>2013 &mdash; 2015</td>
              </tr>

              <tr>
                <td>Ph. D. Research Fellow</td>
                <td>Max-Planck-Institut f&uuml;r extraterrestrische Physik</td>
                <td>2010 &mdash; 2013</td>
              </tr>

            </tbody>
          </table>

        </div> <!-- end panel -->

      </div> <!-- end column -->

    </div> <!-- end row -->


    <!--<div class="row">-->

      <!--<div class="col-md-12">-->

        <!--<div class="panel panel-default">-->
  <!---->
          <!--<div class="panel-heading">Education</div>-->
          <!--&lt;!&ndash;<div class="panel-body">-->
            <!--<p>...</p>-->
          <!--</div> &ndash;&gt;-->

          <!--<table class="table">-->
            <!--<thead>-->
              <!--<tr>-->
                <!--<th>Qualification</th>-->
                <!--<th>obtained at</th>-->
                <!--<th>in the subject</th>-->
                <!--<th>in the year</th>-->
                <!--<th>with grade</th>-->
              <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
              <!--<tr>-->
                <!--<td>Ph.D.</td>-->
                <!--<td>Max-Planck-Institut f&uuml;r extraterrestrische Physik</td>-->
                <!--<td>Natural Sciences</td>-->
                <!--<td>2010&mdash;2013</td>-->
                <!--<td>Magna Cum Laude</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Master of Physics</td>-->
                <!--<td>University of Warwick</td>-->
                <!--<td>Physics</td>-->
                <!--<td>2006&mdash;2010</td>-->
                <!--<td>First Class Honours</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>A levels</td>-->
                <!--<td>Scarborough Sixth Form College</td>-->
                <!--<td>Physics, Mathematics, Further Mathematics, Computing</td>-->
                <!--<td>2004&mdash;2006</td>-->
                <!--<td>Grade A</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>GCSEs</td>-->
                <!--<td>Scarborough Sixth Form College</td>-->
                <!--<td>Double Science, Mathematics, French, IT, Business Studies, History</td>-->
                <!--<td>2004&mdash;2006</td>-->
                <!--<td>Grade A*, A*, A, A, B, B, B</td>-->
              <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div> &lt;!&ndash; end panel &ndash;&gt;-->

      <!--</div> &lt;!&ndash; end column &ndash;&gt;-->

    <!--</div> &lt;!&ndash; end row &ndash;&gt;-->


    <!--<div class="row">-->

      <!--<div class="col-md-12">-->

        <!--<div class="panel panel-default">-->
  <!---->
          <!--<div class="panel-heading">Experience</div>-->

          <!--<div class="panel-body">-->
            <!--<h3><b>Hardware Operation and Management</b><br><small><b>Max-Planck-Institut f&uuml;r extraterrestrische Physik<br> 2010 - Present</b></small></h3>-->

            <!--<ul>-->
                <!--<li>-->
                  <!--I carried out operation and maintenance of a near-infrared/optical detector (GROND) located at the Max-Planck-Gesselschaft 2.2 meter telescope, in Chile. I have been a part of over 35 new discoveries. I travelled frequently to the instrument in Chile to make observations, which has amounted to 3528 hours of experience.-->
                <!--</li>-->
                <!--<br>-->
                <!--<li>-->
                  <!--I schedule the astronomical targets to be observed and delegate the duties to other members of the operating team, consisting of post-doctoral research fellows, PhD students and Masters students.-->
                <!--</li>-->
                <!--<br>-->
                <!--<li>-->
                  <!--I am an integral member of four projects, within international groups, that have acquired time at a world leading telescope facility, involving a range of instruments (e.g. spectrometer VIMOS, radio array ATCA, and CCD camera HAWK-I, to name but a few). -->
                <!--</li>-->
                <!--<br>-->
                <!--<li>-->
                  <!--I was the principle investigator (lead scientist) of three projects utilising the near-infrared detector HAWK-I located at the Very Large Telescope.-->
                <!--</li>-->

            <!--</ul>-->
          <!--</div> -->

          <!--<hr>-->

          <!--<div class="panel-body">-->
            <!--<h3><b>Software Development</b><br><small><b>Max-Planck-Institut f&uuml;r extraterrestrische Physik<br> 2010 - Present</b></small></h3>-->
            <!--<ul>-->
              <!--<li>-->
                <!--I have developed new software to allow displays located at the telescope site to be viewed remotely in real-time. This is important as real-time usage is not viable remotely. The software consists of a mixture of bash scripts and Python, whereby the images are eventually presented on an internal group web page. This is utilised by our group when carrying out observations.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I maintain software within our scientific group that is primarily used to reduce and analyse photometric images. The software is maintained using standard version control systems (specifically git) within a standard git flow framework (master, develop, stable).-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I manage and maintain three servers (including Linux, Windows, and Solaris systems) located in Chile and Germany that are vital for the processing and analysis of large volumes of data (some in real-time). The machines are used by 30 or more professional scientists to process the images and other data.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I developed decision making software that automatically triggers the Very Large Telescope, based in the Atacama Desert in Chile, to begin observing a special stellar object based on criteria involving: observability, weather, and instrument mode. The software is also required to automatically e-mail, upload files to FTPs, generate stellar maps at a given position (finding chart), and create user website pages. This software was self-written entirely in Python and was devised and used for my telescope programme at the Very Large Telescope.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I created a pipeline that automatically computes the best parameter set for subtracting two astronomical images in order to optimise the chances of finding remnants in the differenced images. This was also self-written in Python and used for my own needs and other members of our group.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I designed a pipeline to build a (relational) database of objects from a publicly available astronomy catalogue (www.sdss.org) utilising bash scripts and SQL queries. Time dependence for each source was investigated to look for sources that disappeared over time. A wide range of proxies were used, primarily chi-square comparison. The software was written in C and visualised with SuperMongo.-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div> -->

          <!--<hr>-->

          <!--<div class="panel-body">-->
            <!--<h3><b>Scientific Research</b><br><small><b>Max-Planck-Institut f&uuml;r extraterrestrische Physik<br> 2010 - Present</b></small></h3>-->
            <!--<ul>-->
              <!--<li>-->
                <!--I have analysed large data sets from smoothed-particle hydrodynamic numerical simulations, that utilise HDF5 file formats. This is a file format designed for flexible and efficient input/output and for high volume, complex, data. I developed software to calculate the number of dying stars when the Universe was young, using self-written statistical Monte-Carlo techniques and routines specifically designed for visualising large data sets. The software was written in Python, with some sub-routines written in C++ and wrapped into Python. Map-reduce techniques were used and executed on a Sun Grid Engine. Results are outlined in a manuscript recently submitted to a scientific journal.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I have presented at seven international conferences, delivering results of ongoing projects to the wider community. I also partake in seminar talks within our own institute so as to disseminate my results within a smaller group environment, seeking input from other experts within the field.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I am a part of the Working Group of Cosmostatistics, an international collaboration that aims to make the astronomical community aware of the developments in the latest statistical techniques. I will develop software cookbooks to present alternative methods to solve existing problems within astronomy.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--As part of a large team, I am responsible in the supervision of PhD, Master, and Bachelor students, and continuously help guide them throughout their project. I especially teach and demonstrate on how to use our software to carry out analysis and to interpret the results.-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--Utilising a solely developed analytical model that utilised numerical software within Python (NumPy/SciPy), I calculated the number of stars that we expect to see dying throughout the Universe. This prediction was compared with observed values (determined from our group) via standard statistical techniques (chi-square) and minimisation methods (e.g., gradient descent). Results were published in a refereed world-recognised journal (Elliott et al., A&A, Vol. 539, 2012).-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I collected and reduced my own astronomical data (photometric images) using state-of-the art CCD instrumentation for many special targets. Observed data were compared to theoretical parametric models using techniques similar to machine learning (linear regression) and more sophisticated modelling involving synthesis techniques. Our discoveries were divulged to the research field in the form of a refereed journal (Elliott et al., A&A, Vol. 562, 2014 and Elliott et al., A&A, Vol. 556, 2013).-->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I was part of an organising committee hosting an international conference for gamma-ray burst science in Munich in 2012. -->
              <!--</li>-->
              <!--<br>-->
              <!--<li>-->
                <!--I have a publication record of 17 papers demonstrating my involvement in a variety of international astronomical projects.  See my attached resume for further details.-->
              <!--</li>-->
              <!--<br>-->
            <!--</ul>-->
          <!--</div> -->

        <!--</div> &lt;!&ndash; end panel &ndash;&gt;-->

      <!--</div> &lt;!&ndash; end column &ndash;&gt;-->

    <!--</div> &lt;!&ndash; end row &ndash;&gt;-->


    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-default">
  
          <div class="panel-heading">Technical Skills</div>

            <table class="table table-no-border">
            <colgroup>
              <col class="col-xs-4">
              <col class="col-xs-8">
            </colgroup>

              <tr>
                <td><b>Experience with:</b></td>
                <td>Matlab, Oracle</td>
              <tr>
              
              <tr>
                <td><b>Usage of machine learning and statistical libraries:</b></td>
                <td>TensorFlow, TensorBoard, scikitlearn, astroML, Pandas and
                    statsmodels</td>
              </tr>

              <tr>
                <td><b>Understanding of website building with:</b></td>
                <td>Flask and Django (with cloud computer deployment, e.g., Heroku)</td>
              </tr>

              <tr>
                <td><b>Understanding and implementation of:</b></td>
                <td>JavaScript (Backbone.js, node.js, MVC and Design Patterns)</td>
              </tr>

              <tr>
                <td><b>Frequent usage of software version control systems:</b></td>
                <td>e.g. git</td>
              </tr>

              <tr>
                <td><b>Development of software using virtual environments:</b></td>
                <td>virtualenv, Vagrant</td>
              </tr>

              <tr>
                <td><b>Knowledge and expertise in:</b></td>
                <td>cluster computing (map-reduce techniques; e.g., Sun Grid Engine)</td>
              </tr>

              <tr>
                <td><b>In depth knowledge of:</b></td>
                <td>Windows &amp; Linux operating systems</td>
              </tr>

              <tr>
                <td><b>Programming expertise in Python:</b></td>
                <td>C, C++, C#</td>
              </tr>

              <tr>
                <td><b>Competence in parallel programming for the following languages:</b></td>
                <td>C/C++</td>
              </tr>

              <tr>
                <td><b>Proficiency with:</b></td>
                <td>LaTeX, Bash, and SuperMongo</td>
              </tr>

              <tr>
                <td><b>Website building proficiency in:</b></td>
                <td>HTML and PHP</td>
              </tr>

            </table>


        </div> <!-- end panel -->

      </div> <!-- end column -->

    </div> <!-- end row -->


    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-default">
  
          <div class="panel-heading">Language Skills</div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Language</th>
                  <th>Ability</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>English</td>
                  <td>(Mother tongue)</td>
                </tr>

                <tr>
                  <td>German</td>
                  <td>Intermediate</td>
                </tr>

                <tr>
                  <td>Italian</td>
                  <td>Intermediate</td>
                </tr>

              </tbody>
            </table>
          </div> 

        </div> <!-- end panel -->

      </div> <!-- end column -->

    </div> <!-- end row -->


</div> <!-- end container -->

{% endblock %}

