<style>
.table th, .table td { 
     border-top: none; 
 }
</style>

<div class="row-fluid">
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container">


         <div class="span4" style="width: 100px;"><img class="img-circle" src="https://lh4.googleusercontent.com/-WwC9Lq-t3oA/UXmggEbeviI/AAAAAAAAAr4/LCOQzffehAU/w885-h897-no/Christmas+2012+060.JPG">
         </div>    


         <div class="span8">
           <table border="0"class="table table-condensed">
            <tr>
              <td><FONT COLOR="white">Astronomy Pages</td>
              <td></td>
              <td><FONT COLOR="white">Astronomy Tools</td>
              <td></td>
              <td><FONT COLOR="white">Software Tools</td>
              <td></td>
            </tr>

            <tr>
              <td><FONT COLOR="white"><a href="http://heasarc.gsfc.nasa.gov/cgi-bin/Tools/xTime/xTime.pl">Time Conversion</a>
              <td><FONT COLOR="white"><a href="http://www.ls.eso.org/lasilla/rem.html">Rapid Eye Monitor<a></td>
              <td><FONT COLOR="white"><a href="http://www.dartmouth.edu/~physics/faculty/skycalc/flyer.html">SkyCalc</a>
              <td><FONT COLOR="white"><a href="http://www.cfht.hawaii.edu/~arnouts/LEPHARE/lephare.html">LePhare</a></td>
              <td><FONT COLOR="white"><a href="http://code.google.com/p/h5py/">h5py</a>
              <td></td>
            </tr>

            <tr>
              <td><FONT COLOR="white"><a href="http://irsa.ipac.caltech.edu/applications/DUST/">Galactic Dust Extinction</a>
              <td><FONT COLOR="white"><a href="http://catserver.ing.iac.es/staralt/">Object Visibility<a></td>
              <td><FONT COLOR="white"><a href="http://aplpy.github.com/">APLpy</a>
              <td><a href="http://www.astro.washington.edu/users/becker/hotpants.html">HOTPANTS</a></td>
              <td><FONT COLOR="white">
              <td></td>
            </tr>

            <tr>
              <td><FONT COLOR="white"><a href="http://spiff.rit.edu/tass/ds9/ref.html">DS9 Reference Manual</a>
              <td><FONT COLOR="white"><a href="http://gcn.gsfc.nasa.gov/gcn3_archive.html">GCN Archive</a></td>
              <td><FONT COLOR="white"><a href="http://www.astromatic.net/software/sextractor">SExtractor</a>
              <td></td>
              <td><FONT COLOR="white">
              <td></td>
            </tr>

            <tr>
              <td><FONT COLOR="white"><a href="http://www.ls.eso.org/lasilla/dimm/meteomonitor.html">La Silla Meteo Monitor</a>
              <td><a href="http://www.calsky.com/?obs=47845659156246">Calsky</a></td>
              <td><FONT COLOR="white"><a href="http://iraf.noao.edu/">IRAF</a>
              <td></td>
              <td><a href="http://www.freedomain.co.nr/" target="_blank" title="Free Domain Name"><img src="http://amsoooa.imdrv.net/soof62.gif" width="88" height="31" border="0" alt="Free Domain Name" /></a></td>
              <td></td>
            </tr>

            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


