<style>
.table th, .table td { 
     border-top: none; 
 }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


</style>




<div class="footer">

  
<a href="http://www.freedomain.co.nr/" target="_blank" title="Free Domain Name"><img src="http://amsoooa.imdrv.net/soof62.gif" width="88" height="31" border="0" alt="Free Domain Name" /></a>


</div>


