{% extends "skeleton.html" %}
{% block content %}

<style>


    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    /* Carousel base class */

    .carousel {
      margin-bottom: 2px;
      border: 5px solid gray;
      width: 100%;
    }

.jumbotron {
     position: relative;
     padding: 20px;
     padding-left: 0;
     padding-right: 0;
     margin-bottom: 20px;
     font-size: 20px;
     line-height: 1.2;
 }

  .dropdown-menu li
  {
    margin:0;
    padding:0;
  }

/*
    .carousel .container {
      position: relative;
      z-index: 9;
      width: 200px;
    }

    .carousel-control {
      height: 45px;
      margin-top: 0;
      font-size: 80px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: black;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0px;
      left: 0px;

      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 0px;
      margin-top: 0px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 0px;
    }
    */

.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}
</style>

    <!-- Carousel
================================================== -->

<div class="container">
<!--  -->

  <div class="row">


    <div class="col-md-8">

      <!-- Carousel
      ==================================================-->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://lh5.googleusercontent.com/-q3NNW4GmYQE/TXVq-knJDdI/AAAAAAAAACE/1bhxl5-LM-k/w1196-h897-no/P2120157.JPG" alt="">
            <div class="container">
              <div class="carousel-caption">
                <!-- <h1>Example headline.</h1>
                <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
                <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/place/La+Silla+Observatory/@-29.256269,-70.738046,4z/data=!4m2!3m1!1s0x9691caf51e5ad7c7:0x2d8ca36a6354e263" role="button"  target="_blank">google it</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="https://lh5.googleusercontent.com/-A_DkirdsRrI/UXmoJFe34eI/AAAAAAAAAp4/MQAxolRsGXo/w1196-h897-no/P1010134.JPG" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <!-- <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/preview?q=nashville&ie=UTF-8&ei=fDTNU9iMG6nS4QSG_IAw&ved=0CAYQ_AUoAQ" role="button"  target="_blank">google it</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="https://lh3.googleusercontent.com/-eKnHHD920Fs/UVb3K31npHI/AAAAAAAAAVY/QRI5yVjwKFo/w1196-h897-no/P1010012.JPG" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <!-- <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/place/Puerto+de+la+Cruz,+Santa+Cruz+de+Tenerife,+Spain/@28.4091309,-16.5440964,15z/data=!3m1!4b1!4m2!3m1!1s0xc6a7ffa897afdb1:0xfe20ba57c9146376" role="button" target="_blank">google it</a></p>
              </div>
            </div>
          </div>


          <div class="item">
            <img src="https://lh5.googleusercontent.com/-Q1NbJCQsUa8/UmD5eaHUtrI/AAAAAAAACac/XlLlRPe1nrY/w1263-h947-no/P1010068.JPG" alt="Fourth slide">
            <div class="container">
              <div class="carousel-caption">
                  <!-- <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/search/udaipur+lake/@24.5777215,73.6852999,16z" role="button" target="_blank">google it</a></p>
              </div>
            </div>
          </div>



           <div class="item">
            <img src="https://lh6.googleusercontent.com/-m4R2s99aaTU/U-i8iWxw-GI/AAAAAAAAB4g/cmZlwJ-0ni0/w1598-h899-no/P1030847.JPG" alt="Fifth slide">
            <div class="container">
              <div class="carousel-caption">
                  <!-- <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/search/utrecht+canal/@52.0807578,5.1097699,15z" role="button" target="_blank">google it</a></p>
              </div>
            </div>
          </div>


         <div class="item">
            <img
                    src="https://lh3.googleusercontent.com/NBX7KpWh1ZMLLL5hgtqyWGw-xVTTeGliz8lsx0OjXwSxZ2ypAxZdNmc-06G6EwoGIaqf0Wy7f1gH2-DRYizskT5tFU4l8pWu-tZL8JZK4f4_dDuHF-J8q1cvD9afgJc8QliTM8KKGAzfW3VjyDmxeL1_YQshN-gNzN0yZaO-JGZpQLzmuUGyQ8G8ZWQESD9R2YjKq1KhBGq1nvCCn85nltX1jZl0ponS83PDsL7ekxJljTUA8Rpo-NAKKMbIb7AQCTeAnxSFKYL1XrAeJSAlQM8sEgZF2Oss-uqZHHAFz-CzsXhioMxQrpwmxPumvJDpBD7CehUrsFGVHZPgqOTSZPc1nSovaaLwqUb5SbVoeiOpBOmejFD-OVYi0Vz5jZtOF0JnK65Xviku128D_TraDrpdp751CH4p8zwsvZEQyFZWnwo5ZCldhV-tR1E6qZQV9F9xnaFiMonZrhZaNGZcKNg4kpGVs1NN_l8lqyo-uLaC3CtaZgrrYQtCcOzPOXdvhkJ3r6OYSqGU9y_NW1vtMOM3bwahsHcSRKDy42vk_86KsLjfbkFZGiwltQOOzNivHAIdnJoXwgnAL6QAohyrX_Lf-TL_3-7zX2yS15fTHpKxwdU4QGTdsa1ua5n1M8cErNB-p2yDiUlUznhjY75RRKfZ-yPpY-20hw4=w1428-h1528-no" alt="Sixth slide">
            <div class="container">
              <div class="carousel-caption">
                  <!-- <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/place/Temple+of+Heaven/@39.883704,116.4106513,17z/data=!3m1!4b1!4m5!3m4!1s0x35f04d6019ff91eb:0x372c15453b110e6a!8m2!3d39.883704!4d116.41284" role="button" target="_blank">google it</a></p>
              </div>
            </div>
          </div>

        <div class="item">
            <img
                    src="https://lh3.googleusercontent.com/atJfFFKjbq9nNTLa7OKnEPdJ7YqWlL78GxnlmpY3GK3NSu2DKGxZyfbrDCaITjUxDC1_FfDEqxQRSr_NRhV2z8FjIJJNKdYkQpxPg_o3BlEFjaNH1eAfdmFpIEDIsBnP98TRqgy2l5TKhNoUiMwMsLADYsH_9FlxmrEdbnhY7Zul3HEXu4j4FilJfc79w_yU_o4fbzJIcAwCaKY5w5vjVz92LILjZW68O47wHYWWG-lkKcxp_Cbf4Cj5PFEGAffKJ2Vr5M6az6QAryD64evcnYTRcrPSp8waYN42h92Y8k5WvcULj8FtlWtTeso4ppDe8GtSlWibd0QfR0DrgCDRBA_w2Vxbx-iW8HRODQZWlUgMyzvHR3Y_KoCmHYJFG7aVqaLlLzEQ0CxcdOFL7dzRSZbNwtYSaCxdwVpqPCZwLwgKIBhuORsHa92j54LuU-fJrWC6Jub_QTVpU4epXedlX4GOR8xbZyhIE-vE39UEGICmm6QrkZdn4ep8JsynqlahG5nilN9BydCfroOj2oVUiD11eYATbLkOfTWtrSqB85sq6nsofNqu9Z1a44o0-aijxeBhtXeqnXjHEc7Moe144AtPNGlfNd60OFliu0w9AFU4a4TsO5_8blliuIoa8u5c2C5kKUto2w1oUNjvJ1yhkom0QyAIpbFKsv8=w815-h611-no" alt="Seventh slide">
            <div class="container">
              <div class="carousel-caption">
                  <!-- <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/place/24%C2%B059'21.9%22N+121%C2%B035'21.3%22E/@24.989418,121.5870633,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x3442aa8389128349:0x211736b3fb76a84b!2sMaoKong,+Wenshan+District,+Taipei+City,+Taiwan+116!3b1!8m2!3d24.972981!4d121.5883709!3m5!1s0x0:0x0!7e2!8m2!3d24.9894179!4d121.5892524" role="button" target="_blank">google it</a></p>
              </div>
            </div>
          </div>


          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->

      </div> <!-- end column -->


    <div class="col-md-4">
      <div class="jumbotron">
        <p align="center"><img src="http://www.gravatar.com/avatar/6194dc2c513eaf3f83798c4672d4da2c"  class="img-responsive"></p>

          <div class="text-center">
            <div class="btn-group">

            <button type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
              Find me
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a href="https://www.linkedin.com/profile/view?id=362155299&trk=spm_pic" target="_blank">@LinkedIn</a></li>
              <li><a href="http://stackoverflow.com/users/3715463/jonnybazookatone" target="_blank">@stackoverflow</a></li>
            </ul>
            </div>
          </div
        </p>
        <p align="justify"><small>I am Jonny Elliott, a Researcher currently
            working at Hulu. My work involves developing deep learning models
            to carry out predictions related to subscriber behaviour. I have
            worked previously as a
            a software engineer at the Astrophysics Data Systems (NASA/SAO)
            designing and implementing software infrastructure for the ADS, which maintains over 10 million articles for
            the astrophysical and physics community. My background is
            Astrophysics, and I worked as a researcher on the topic of
            gamma-ray bursts, which are believed to be the light houses of
            massive stars ending their lives.</small></p>
      </div>
    </div> <!-- end column -->

  </div> <!-- end row -->

</div> <!-- end container -->




<script>
$(function(){
      // carousel demo
      $('.carousel').carousel()
    })
</script>

<!-- {% include "footer.html" %} -->
{% endblock %}
