{% extends "skeleton.html" %}
{% block content %}

<style>


    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    /* Carousel base class */

    .carousel {
      margin-bottom: 2px;
      border: 5px solid gray;
      width: 600px;
    }
/*    
    .carousel .container {
      position: relative;
      z-index: 9;
      width: 200px;
    }

    .carousel-control {
      height: 45px;
      margin-top: 0;
      font-size: 80px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: black;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0px;
      left: 0px;
      
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 0px;
      margin-top: 0px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 0px;
    }
    */
</style>

    <!-- Carousel
================================================== -->

<div class="container">
<!--  -->

  <div class="row">
  

    <div class="col-md-6">

        <!-- Carousel
        ==================================================-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://lh5.googleusercontent.com/-q3NNW4GmYQE/TXVq-knJDdI/AAAAAAAAACE/1bhxl5-LM-k/w1196-h897-no/P2120157.JPG" alt="">
              <div class="container">
                <div class="carousel-caption">
                  <!-- <h1>Example headline.</h1>
                  <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/place/La+Silla+Observatory/@-29.256269,-70.738046,4z/data=!4m2!3m1!1s0x9691caf51e5ad7c7:0x2d8ca36a6354e263" role="button">google it</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://lh5.googleusercontent.com/-A_DkirdsRrI/UXmoJFe34eI/AAAAAAAAAp4/MQAxolRsGXo/w1196-h897-no/P1010134.JPG" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <!-- <h1>Another example headline.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/preview?q=nashville&ie=UTF-8&ei=fDTNU9iMG6nS4QSG_IAw&ved=0CAYQ_AUoAQ" role="button">google it</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://lh3.googleusercontent.com/-eKnHHD920Fs/UVb3K31npHI/AAAAAAAAAVY/QRI5yVjwKFo/w1196-h897-no/P1010012.JPG" alt="Third slide">
              <div class="container">
                <div class="carousel-caption">
                  <!-- <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="https://www.google.co.uk/maps/place/Puerto+de+la+Cruz,+Santa+Cruz+de+Tenerife,+Spain/@28.4091309,-16.5440964,15z/data=!3m1!4b1!4m2!3m1!1s0xc6a7ffa897afdb1:0xfe20ba57c9146376" role="button">google it</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->

    </div>
    
    <div class="col-md-2"></div>

    <div class="col-md-4">
    

                <div id="content">
                    <iframe width="300" height="250" frameborder="5" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Max-Planck-Institut+f%C3%BCr+extraterrestrische+Physik,+Gie%C3%9Fenbachstra%C3%9Fe,+Garching,+Germany&amp;aq=0&amp;oq=Max+Planck+Institut+fuer+extrat&amp;sll=53.800651,-4.064941&amp;sspn=12.322317,33.640137&amp;t=h&amp;ie=UTF8&amp;hq=Max-Planck-Institut+f%C3%BCr+extraterrestrische+Physik,&amp;hnear=Gie%C3%9Fenbachstra%C3%9Fe,+Germany&amp;ll=48.261841,11.671632&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
                </div>

        
                <address>
                <strong>Max-Planck-Institut fuer extraterrestrische Physik</strong><br>
                Giessenbachstrasse 1<br>
                85748 Garching<br>
                <a href="mailto:#">jonnyelliot@mpe.mpg.de</a><br>
                <abbr title="Phone">P:</abbr> +49 89 30000 - 3535
                </address>   
    </div>
  
  
  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
    
      <div class="jumbotron">
        <p align="justify">I am Jonny Elliott, a postdoctoral fellow currently working at the Max-Planck-Institut für extraterrestrische Physik. My research involves gamma-ray bursts, which are believed to be the light houses of massive stars ending their lives. My time is split between writing software, observing at and collborating with people from various telescopes around the world, and finally my hobbies.</p>
        <!-- <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p> -->
      </div>

         
    
    </div>
  </div>

</div>

 


<script>
$(function(){
      // carousel demo
      $('.carousel').carousel()
    })
</script>

<!-- {% include "footer.html" %} -->
{% endblock %}

