<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Jonny Elliott</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if request.path == "/" %} class="active" {% endif %}><a href="/">home</a></li>
          <li {% if request.path == "/software/" %} class="active" {% endif %}><a href="/software/">software</a></li>
          <li {% if request.path == "/publications/" %} class="active" {% endif %}><a href="/publications/">publications</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
