{% extends "skeleton.html" %}
{% block content %}

        <style>
          .affix {
            position: auto;
            top: 50px;
            left: auto;
            right: auto;
          }
          .modal {width:auto;}
        </style>

<div class="container">
<div class="jumbotron">
  <h1> <font color="black">Bottom line </font></h1>
    <p>Total number of citations: <b>{{ total_citations }}</b></p>
    <p>Total number of publications: <b>{{ total_publications }}</b></p>
    <p>Total number of different publishers: <b>{{ total_publishers }}</b></p>
</div>

<div class="row">

  <div class="col-md-12">
    <div class="page-header">
      <h1>Publication List</h1>
    </div>
      {% for paper in papers %}
          <p>
              <font color="red">{{ loop.index }}.</font> <a href="{{ ads_url }}/{{ paper.bibcode }}/abstract">{{ paper.title[0] }}</a><br>
              {% autoescape false %}
                  {{ paper.authors }}
              {% endautoescape %}
              <br>
              <u>{{ paper.pub }}</u> {{ paper.year }}

          </p><br>

      {% endfor %}

    <h2> Presentations </h2>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aenRnV0JEejE5TkU" target="_blank">GDRE Paris 2012</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4adWZHc1YtU2pZY0E" target="_blank">HEG Munich 2012</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aRVlsRWtyWlhkM0U" target="_blank">Fermi/Swift GRB Symposium Munich 2012</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4adGNXcjd3Mi1SQUU" target="_blank">Liverpool Gamma Ray Bursts in the Era of Rapid Follow-up 2012</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4adkpyUlBNNmhabWM" target="_blank">MPE Science Coffee 2012</A></P>

  		<P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aVF95cnlVWnZRVXM" target="_blank">GDRE Liverpool 2013</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aOWxIUGFBWWZKUXc" target="_blank">Huntsville in Nashville GRB 2013</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aN2xmbjJLVkV5OTA" target="_blank">HEG Munich 2013</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aZlNURGZnUFhlOGc" target="_blank">Cabo de Gata 2013</A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aRUJ4UzBFajNlLWM" target="_blank"><FONT COLOR="gray">Edinburgh visit 2014</FONT></A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aNnRGODNGd1VNV0U" target="_blank"><FONT COLOR="gray">Edinburgh Higgs Centre Workshop 2014</FONT></A></P>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aNWRjRTRxcHY3VW8" target="_blank"><FONT COLOR="gray">HEG Munich 2014</FONT></A></P>

      <P><A href="" target="_blank"><FONT COLOR="gray">Universe of Digital Sky Surveys Naples 2014</FONT></A> TBA</P>

    <h2> Press Releases</h2>
      <P> <a href="http://www.ljmu.ac.uk/NewsUpdate/index_123618.htm" target="_blank">Liverpool Gamma Ray Bursts in the Era of Rapid Follow-up 2012</a></P>

    <h2> Posters </h2>

      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aZTNWZlFjODZ6UzQ" target="_blank">IMPRS Evaluation 2012</A></P>
      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aclJ6TkRucDFZS28" target="_blank">Huntsville in Nashville GRB 2013</A></P>
      <P><A href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4aTFRZWm1VcmdtMVE" target="_blank">MPE Fachbereit 2013</A></P>

  </div>
</div>
</div>

<script>
$('#openBtn').click(function(){
  $('#myModal').modal({show:true})
});
</script>

<!-- {% include "footer.html" %} -->
{% endblock %}
