{% extends "skeleton.html" %}
{% block content %}

        <style>
          .affix {
            position: auto;
            top: 50px;
            left: auto;
            right: auto;
          }
          .modal {width:auto;}
        </style>

    <!-- Docs nav
    ================================================== -->

<div class="container">

  <div class="col-md-4">


  	<div class="nav-pills" style="position: fixed;"> <!-- data-spy="affix" data-offset-top="500"> -->
      	<div class="navbar-inner">
              <ul class="nav" style="margin-top: 15px;">
            		<li><a href="/publications/">Publication List<i class="icon-chevron-right"></i></a></li>
                <li><a data-toggle="modal" href="#LGRBR" class="btn btn-primary">Long Gamma-ray Burst Rate</a><li>
                <li><a data-toggle="modal" href="#SOLARMET" class="btn btn-primary">Solar Metallicity GRB Galaxy</a></li>
                <li><a data-toggle="modal" href="#PROMPTOPT" class="btn btn-primary">Promt Emission Optical Detections</a></li>
          	</ul>
      	</div> <!-- navbar-inner -->
  	</div> <!-- navbar -->



    <!-- Modal -->
    <div class="modal fade" id="LGRBR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="myModalLabel">Long Gamma-ray Burst Rate</h4>
          </div>
          <div class="modal-body">
          <p>The amount of star formation and how it has changed since the Universe began is usually described by the cosmic star formation history, or also commonly known as the Madau plot. This knowledge is used to place constraints on how galaxies evolve and can also be used to gain insights on time periods after the Big Bang.</p>
          </div>

          <div style="display: table-cell; vertical-align: middle ">
            <img src="https://lh5.googleusercontent.com/-aej6iGQtrOQ/Ud6inIaC1VI/AAAAAAAAA9A/bt4yR2bAUCI/s576/csfh_end.jpg" width=400px align=center>
          </div>
          
          <div class="modal-body">
          <p>The problem is that the current methods that are used to make the Madau plot, struggle to go to higher redshifts. Normal methods involve measuring the star formation within galaxies that are at high redshift. The problem is that these galaxies can be very faint and so very difficult to detect with current state-of-the-art detectors. To tackle this problem, we utilise long gamma-ray bursts to estimate the cosmic star formation history to high redshifts, because of the intrinsically bright nature of gamma-ray bursts, which makes them easier to detect across all redshifts. Unfortunately, the way in which the long gamma-ray burst rate is converted into the cosmic star formation history is not so simple and, therefore, can change the results substantially. In our work, we investigate different biases that may exist and their underlying effects.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="PROMPTOPT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="myModalLabel">Prompt Emission Observations of GRB 121217A</h4>
          </div>
          <div class="modal-body">
          <p>Gamma-ray bursts were named due to their emission in the gamma-ray wavelengths. They have been surveyed in high energy wavelengths via satellites for the past 30 years, since their discovery. Despite this extensive campaign in the X-ray and gamma-ray wavelengths, little is known about the optical counterpart during this primary process.
             </p>
          </div>

          <div style="display: table-cell; vertical-align: middle ">
            <img src="https://lh3.googleusercontent.com/-zUjRRzn-kAk/U9KtoEuSf4I/AAAAAAAAC0A/qGwyWiH9Tzg/w576-h432-no/lc_grond.jpg" width=400px align=center>
          </div>
          
          <div class="modal-body">
          <p>Utilising the Gamma-ray Burst Optical Near-infrared Detector (GROND) mounted at the Max-Planck-Gesselschaft 2.2 m telescope, in Chile, we observed GRB 121217A in the near-infrared wavelengths during its initial emission. With these observations, we demonstrated that the currently accepted model can be used to explain the spectral evolution.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="SOLARMET" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="myModalLabel">Solar Metallicity of GRB110918A's Host Galaxy</h4>
          </div>
          <div class="modal-body">
          <p>Long gamma-ray bursts are believed to be the beacon of the death of a massive, rapidly rotating star. Current simulations that try to create a long gamma-ray burst from these types of stars do not work, unless they exist in regions with low quantities of metals. Initial measurements of the regions in which long gamma-ray bursts occured have shown that they also preferrentially exist in metal poor regions. However, we used the spectrograph X-Shooter mounted at the Very Large Telescope, in Chile, to measure the metallicity in the host galaxy of a gamma-ray burst that occured on the 18th September 2011. We find that it has a metallicity close to that of our sun. This measurements adds to the few other cases that have been found so far, suggesting the idea of the progenitor it not as simple as it was first thought. </p>
          </div>

          <div style="display: table-cell; vertical-align: middle ">
            <img src="https://lh5.googleusercontent.com/-1uUlkyM0O4w/Ud6l5zUvJII/AAAAAAAAA9w/_0xuRdpKd_g/s753/spec_host.jpg" width=500px>
          </div>
          
          <div class="modal-body">
          <p>The problem is that the current methods that are used to make the Madau plot, struggle to go to higher redshifts. Normal methods involve measuring the star formation within galaxies that are at high redshift. The problem is that these galaxies can be very faint and so very difficult to detect with current state-of-the-art detectors. To tackle this problem, we utilise long gamma-ray bursts to estimate the cosmic star formation history to high redshifts, because of the intrinsically bright nature of gamma-ray bursts, which makes them easier to detect across all redshifts. Unfortunately, the way in which the long gamma-ray burst rate is converted into the cosmic star formation history is not so simple and, therefore, can change the results substantially. In our work, we investigate different biases that may exist and their underlying effects.</p>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="col-md-8">
    <div class="page-header">
      <h1>Publication List</h1>
    </div>
    
    <h2>Articles</h2>
      {% include "ads.html" %}

    <h2>Conference Proceedings</h2>
      <b>Elliott, J.</b>, Greiner, J., Khochfar, S., Schady, P., Johnson, J. L., Rau, A., <u>Proceedings of the Gamma-Ray Bursts 2012 Conference (GRB 2012). May 7-11, 2012. Munich, Germany</u>. <A href="http://pos.sissa.it/cgi-bin/reader/conf.cgi?confid=152">The long &#947;-ray burst rate and the correlation with host galaxy properties</A><br>
      </p><br> 

      Nardini, M., Greiner, J., Filgas, R., <b>Elliott, J.</b>, Olivares E., F., Rau, A., Schady, P., Sudilovsky, V., Klose, S., Kann, D. A., Nicuesa Guilbenzu, A., Rossi, A., Krühler, T., Afonso, P., Updike, A., <u>Proceedings of the Gamma-Ray Bursts 2012 Conference (GRB 2012). May 7-11, 2012. Munich, Germany</u>. <A href="http://cdsads.u-strasbg.fr/abs/2012grb..confE.104N">Unveiling long lasting central engine activity with Optical-NIR afterglows</A><br>
      </p><br>

       	
    <h2>GRB Circular Network</h2>
      {% include "gcn.html" %}


    <h2> Presentations </h2>

      <P><A href="files/GDRE_2012_presentation.pdf">GDRE Paris 2012</A></P>

      <P><A href="files/HEG_2012_presentation.pdf">HEG Munich 2012</A></P>

      <P><A href="files/MunichGRB_2012_presentation.pdf">Fermi/Swift GRB Symposium Munich 2012</A></P>

      <P><A href="files/Liverpool_2012_presentation.pdf">Liverpool Gamma Ray Bursts in the Era of Rapid Follow-up 2012</A></P>

      <P><A href="MPEScienceCoffee_2012_presentation.pdf">MPE Science Coffee 2012</A></P>

  		<P><A href="">GDRE Liverpool 2013</A></P>

      <P><A href="">Huntsville in Nashville GRB 2013</A></P>

      <P><A href="">HEG Munich 2013</A></P>

    <h2> Press Releases</h2>
      <P> <a href="http://www.ljmu.ac.uk/NewsUpdate/index_123618.htm">Liverpool Gamma Ray Bursts in the Era of Rapid Follow-up 2012</a></P>

    <h2> Posters </h2>

      <P><A href="IMPRSEvaluation_2012_poster.pdf">IMPRS Evaluation 2012</A></P>
      <P><A href="">Huntsville in Nashville GRB 2013</A></P>
      <P><A href="">MPE Fachbereit 2013</A></P>

  </div>
</div>

<script>
$('#openBtn').click(function(){
  $('#myModal').modal({show:true})
});
</script>

<!-- {% include "footer.html" %} -->
{% endblock %}
